<!-- <ul>
  <li><a routerLink="/">User</a></li>
  <li><a routerLink="/about">About</a></li>
</ul> -->
<div class="header">
    <div class="nav-menu">
        <div>
          <ul><li><a href="#">Angular App</a></li></ul></div>
        <div class="routes-menu">
          <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/user">User</a></li>
              <li><a routerLink="/about">Posts</a></li>
          </ul>

        </div>
    </div>
  </div>
<div class="content-container">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
