<!-- <div id="mainDiv">
  <input id="addHobbies" type="submit" value="Add Hobbies">
  <br>
  <br>
  <form (submit)="addHobby(hobby.value)">
    <div>
      <label for="hobby">Hobby: </label>
      <input id="hobby" type="text" #hobby>
    </div>
  </form>
</div>

  <ul>
    <li *ngFor="let hobby of hobbies; let i = index">
      {{i + 1}}: {{hobby}} <button (click)="deleteHobby(hobby)">x</button></li>
  </ul> -->


<h1>Add Post</h1>
<div class="tile">
  <div>Title</div>
  <input type="text" >
  <br><br>
  <div>Body</div>
  <input type="text" >
  <br><br>
  <a href="/user" class="btn">User Section</a>
</div>


